@import '../../config';


.messages-box{
    @include appBox(map-get($main-colors, header-background-and-App-borders));
    width: clamp(300px, 80%, 900px);
    display: flex;

    .chats-space{
        background-color: map-get($main-colors, header-background-and-App-borders);
        width: 180px;
        .chat-but{
            transition: all .4s;
            &:hover:not(#chosen){
                transform: translateX(4px);
                .message-box{

                    background-color: map-get($main-colors, chats-color-chosen);
                }
            }
        }
        #chosen{
            transform: translateX(4px);
            .message-box{
                background-color: map-get($main-colors, chats-color-chosen);
            }
        }
        .message-box{
            background-color: map-get($main-colors, main-page-background);
            user-select: none;
            border: 1px solid map-get($main-colors, border-color);


            border-radius: 200px;
            margin: 9px 5px;
            margin-left: 0;
            cursor: pointer;

            
            .chat-compo-box{
                display: flex;
                align-items: center;

                .name-box{
                    margin: 0 4px;
                    font-weight: bold;
                    font-size: .7em;
                }



                .message-photo{
    
                    width: 40px;
                    border-radius: 50%;
                }
            }

        }

    }



    .chat-space{
        @include chatSpace;
        @include messages;
        .messages-space div{
            padding: 5px;
        }
    }

}