@import '../../config';

.calendar{
    @include appBox(map-get($main-colors, header-background-and-App-borders));
    border: none;
    width: clamp(200px, 90%, 1500px);
    min-height: clamp(200px, calc(100vh - 120px), 1000px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        padding: 20px 0;
    }
    .your-calendars{
        width: 100%;
        height: 100%;
    }
    .calendar-option{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &:hover{
            cursor: pointer;
            .calendar-icon{
                filter: none;
                
            }
        }
        .calendar-icon{
            transition: all .3s;
            filter: brightness(.4);
            width: 90px;
        }

    }

}
.App{
    height: fit-content !important;
}