@import '../../config';


.friendsListBox{

    .navbar{
        li{
            display: flex;
            justify-content: center;
            margin: 3px;
            text-align: center;
                &:first-child{
                    position: relative;
                    .but1{
                        position: absolute;
                    }
                }
        }
    }
}

.f-search-inp{
    height: 30px;
    width: 60px;
    transition: 1s;
    font-size: .7em;
}

.chat-op-box{
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
    user-select: none;
    position: relative;
    cursor: pointer;
    .photo-box{
        position: relative;
        span{
            color: white;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8em;
            border-radius: 50%;
            position: absolute;
            right: 0;
            width: 20px;
            height: 20px;
            bottom: 0;
            z-index: 100;
            font-weight: bold;
        }
    &:hover{
        .chat-photo{
            transform: scale(1.02);
        }
        }

        .chat-name-box{
            transform: scale(1.02);
        }


    }

        .messages-chat{
        animation: .2s show;
        position: absolute;
        bottom: -290px;
        min-width: 180px;
        height: 280px;
        left: 0;
        @include chatSpace;
        border: 2px solid black;
        border-radius: 20px;
        z-index: 100;
        overflow: hidden;
        .messages-space{
            font-weight: bold;
            background-color: map-get($main-colors, main-page-background);
            overflow-y: auto;
            font-size: .7em;
           @include messages;

        }
        .writing-messages-space{
            
            background-color: map-get($main-colors, header-background-and-App-borders);
            
                color: map-get($main-colors, font-hover-dark);
            
        }
        textarea{
            background-color: unset;
            color: map-get($main-colors, font-hover-dark);
        }

    }

    .chat-photo{
        width: 40px;
        transition: .1s
    }
    
    .chat-name-box{
        overflow: hidden;
        transition: 1s;
        position: relative;
        
        .chatName{
            width: 120px;
        }
        
    }
    
    
}
.switchArrow{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.d-lg-block{
    position: relative;
}
.active-fr-box{
    position: absolute;
    background-color: map-get($main-colors, main-page-background );
    width: 80%;
    top: 40px;
    z-index: 200;
    animation: 2s show;
    img{
        width: 30px;
        
    }
    
    ul{
        max-height: 30vh;
        overflow-y: auto;
        list-style: none;
        border: 2px solid map-get($main-colors , header-background-and-App-borders);
        padding: 0;
        li{
            margin: 3px 2px;
            cursor: pointer;
            &:hover{
                background-color: map-get($main-colors, main-shadow );
                filter: brightness(.6);
            }
        }

    }
}
