$color1: #36366f;
$color2: hsl(280, 27%, 98%);
$color3: #fcfdfc;
$color4: #ff78af;
$color5: #090003;


@mixin appBox ($main-color){
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    border: 6px solid $main-color;
    width: clamp(200px, 90%, 700px);

    position: relative;

}

@mixin genAppNav($color1, $color2){
    background-color: $color1;
    .navbar-toggler{
        background-color: $color1;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-around;
        text-align: center;
        .friend-option{
            color: $color2;
        }
    }
    .nav-item{
        font-weight: bold;
        .nav-link{
            color: aliceblue;
        }
        .nav-link:hover{
            color: $color5;
            text-decoration: none;
            
        }
    }

    
}


.but1{
    color: inherit;
    &:hover{
        color: $color5;
        cursor: pointer;
    }
    margin: 4px;

}

.inp-text{
    background-color: $color1;
    padding: 5px;
    color: $color2;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: $color1;
}

@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes errButtonAnim {
    from{
        background-color: rgb(255, 0, 0);
    }
    to{
        background-color: #0d6efd;
    }
}