@import '../../config';




.shopApp-box{
    @include appBox($color1);
    height: 600px;
    width: clamp(220px, 90%, 700px);
    overflow: auto;
    overflow-x: hidden;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid #000;
    width: 63px;
    height: 23px;
    border-radius: 0;
    font-size: 12px;
  }
  
  .shopApp-box .swiper-pagination {
    bottom: auto;
    top: 10px; /* Dostosuj wartość, aby uzyskać pożądane położenie */
  }
  
  /* Aktywny przycisk */
  .swiper-pagination-bullet-active {
    background-color: #cb6262;
    transform: scale(1.2);
  }
  
 
  

.header-shopApp-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .search-inp-box{
        position: relative;
        margin-top: 5px;
    }

    .search-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(150%);
        right: 0;
    }
}

.back-icon{
    position: absolute;
    top: 0;
    left: 0;
}


.options-box{
    @include appBox($color1);
    margin-top: 50px;
    width: clamp(200px, 90%, 700px);
    border: none;
    color: $color1;
    font-weight: bold;
    border-radius: 0;
    img{
        border-radius: 4px;
    }
    button{
        background-color: unset;
        color: inherit;
        border: none;

    }

    .option-box{
        background-color: rgba(99, 89, 89, 0.181);
        margin-bottom: 2px;
        padding: 3px;

    }


}

.op-info-box{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

