@import '../../config';



.shopAppPack{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .shopApp-box{
        @include appBox(map-get($main-colors, header-background-and-App-borders));
        height: 600px;
        width: clamp(220px, 90%, 700px);
        overflow: hidden;
    }
}
.App .swiper-pagination-bullet {
    // background-color: map-get($main-colors,  default-apps-color );
    width: 83px;
    height: 33px;
    color: map-get($main-colors,  main-light-font-color );
    font-size: 12px;
    .shopApp-box .swiper-pagination {
      padding: 4px;
      bottom: auto;
      top: 10px; 
    }
    
    .swiper-pagination-bullet-active {
      filter: none;
      transform: scale(1.2);
    }
  }
  
  
 
  

.header-shopApp-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .search-inp-box{
        position: relative;
        margin-top: 5px;
    }

    .search-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(150%);
        right: 0;
    }
}

.back-icon{
    position: absolute;
    top: 0;
    left: 0;
}


.options-box{
    @include appBox(map-get($main-colors, header-background-and-App-borders));
    border: none;
    color: map-get($main-colors, header-background-and-App-borders);
    font-weight: bold;
    border-radius: 0;
    img{
        border-radius: 4px;
    }
    button{
        background-color: unset;
        color: inherit;
        border: none;

    }

    .option-box{
        background-color: rgba(99, 89, 89, 0.181);
        margin-bottom: 2px;
        padding: 3px;

    }


}

.op-info-box{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

